.login-section form div:first-child{
    text-align: left !important;
}
.login-section form div:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.login-section form .btn,
.login-section form .btn:active{
    background-color: #f16126;
    border-color: #f16126;
}
.account-form  .checkgroup input[type=checkbox]{
    margin: 0;
    border-color:#7c7c7c
}
.account-form  input[type=checkbox] {
    height: 18px;
    width: 18px;
    margin-right: 15px !important;
}
.account-form input {
    border-radius: 2px !important;
}
.account-form .form-check,
.account-form .form-check input{
    padding: 0;
}
.account-form .checkgroup{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.account-form .checkgroup label{
    color:#555
}